<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Google Cast Presentation</title>

		<link rel="stylesheet" href="../lib/reveal.js/css/reveal.min.css">
		<link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700,200italic"/>
		<link rel="stylesheet" href="../css/app.css">

	</head>

	<body>

    <div class="app-background"></div>

		<div class="reveal">

			<div class="slides">

				<section class="large-left-display intro">
				  <div>
				    <h1>Google Cast</h1>
				    <h2>adidac</h2>
				    <h3>multi-screen experiences</h3>
				    <p>just a little nerdtalk<p>
				  </div>
				</section>

				<section class="default-display question">
					<h1>?</h1>
				</section>

				<section class="default-display devices">
					<h1>Get to the hardware already.</h1>
				</section>

				<section data-background="../img/chromecast.jpg" class="image-display devices">
				  <div class="content">
				    <div class="tag top-tag">
  				    <h1>Chromecast</h1>
  				  </div>

  				  <div class="tag bottom-tag">
  				    <h1>hdmi <b>dongle</b></h1>
  				  </div>

				  </div>
				</section>

				<section data-background="../img/firetv.jpg" class="image-display devices">
				  <div class="content">
				    <div class="tag top-tag">
  				    <h1>Amazon FireTV</h1>
  				  </div>

  				  <div class="tag bottom-tag">
  				    <h1>set-top box</h1>
  				  </div>

				  </div>

				</section>

				<section data-background="../img/androidtv.jpg" class="image-display devices">
				  <div class="content">
				    <div class="tag top-tag">
  				    <h1>ADT-1</h1>
  				  </div>

  				  <div class="tag bottom-tag">
  				    <h1>set-top box</h1>
  				  </div>

				  </div>

				</section>

        <section class="large-left-display popular">
				  <div>
				    <h1>Popularity</h1>
				    <h2>cool factor</h2>
				    <h3><u>drake</u> or <u>trinidad james</u></h3>
				    <p>is it a one hit wonder<p>
				  </div>
				</section>

				<section class="default-display popular">
					<h1>"We’ve sold millions of Chromecast adapters"</h1>
				</section>

				<section data-background="../img/whitney-bobby.jpg" class="image-display popular">
				  <div class="content">
				    <div class="tag top-tag">
  				    <h1>Bobby & Whitney</h1>
  				  </div>

				  </div>

				</section>

				<section data-background="../img/rihanna-chris.jpg" class="image-display popular">
				  <div class="content">
				    <div class="tag top-tag">
  				    <h1>Chris & Rihanna</h1>
  				  </div>

				  </div>

				</section>

				<section data-background="../img/fatkid.jpg" class="image-display popular">
				  <div class="content">
				    <div class="tag top-tag">
  				    <h1>Fat Kid & Cake</h1>
  				  </div>

				  </div>

				</section>

				<section data-background="../img/dirty-dancing-lift.jpg" class="image-display popular">
				  <div class="content">
				    <div class="tag top-tag">
  				    <h1>Dirty Dancing</h1>
  				  </div>

				  </div>

				  <audio data-autoplay src="../audio/dirty-dancing.mp3"></audio>
				</section>

				<section data-background="../img/apps.jpg" class="image-display apps">
				  <div class="content">
				    <div class="tag top-tag">
  				    <h1>Yes there are <span class="nt-pink">apps</span>.</h1>
  				  </div>

				  </div>

				</section>

				<section data-background="../img/steve.jpg" class="image-display dev">
				  <div class="content">
				    <div class="tag top-tag">
  				    <h1>Developers, Developers, Developers</h1>
  				  </div>

				  </div>
				</section>

				<section class="default-display platform">
					<h1>Platforms?</h1>
				</section>

				<section class="default-display lang">
					<h1>You old polyglot.</h1>
				</section>

				<section class="default-display tools">
					<h1>Tools of the Trade</h1>
				</section>

				<section class="default-display tools">
					<h1>Two pieces puzzle</h1>
				</section>

				<section data-background="../img/elvis.jpg" class="image-display dev">
				  <div class="content">
				    <div class="tag top-tag">
  				    <h1>The sender.</h1>
  				  </div>

				  </div>
				</section>

				<section data-background="../img/julio-jones.jpg" class="image-display dev">
				  <div class="content">
				    <div class="tag top-tag">
  				    <h1>Julio Jones</h1>
  				  </div>

  				  <div class="tag bottom-tag">
  				    <h1>give him a fantasy spot.</h1>
  				  </div>

				  </div>
				</section>

				<section class="default-display">
					<h1>Let's hit the ground walking.</h1>
				</section>

				<section class="default-display">
					<h1>Considerations</h1>
				</section>

				<section data-background="../img/steve.jpg" class="image-display dev">
				  <div class="content">
				    <div class="tag top-tag">
  				    <h1>Code complete.</h1>
  				  </div>

  				  <div class="tag bottom-tag">
  				    <h1>Gotta love those developers.</h1>
  				  </div>

				  </div>

				  <audio data-autoplay src="../audio/developers.mp3"></audio>
				</section>

			</div>

		</div>

    <!--Libraries-->
    <script src="https://www.gstatic.com/cast/sdk/libs/receiver/2.0.0/cast_receiver.js"></script>
    <script src="../lib/jquery/dist/jquery.min.js"></script>
    <script src="../lib/underscore/underscore-min.js"></script>
		<script src="../lib/reveal.js/js/reveal.min.js"></script>

		<!--Application-->
    <script src="../js/cast.app.js"></script>
    <script src="../js/cast.receiver.js"></script>

    <!--View-->
		<script>

    (function(app) {

      app.CastReceiverView = (function(){

        var logger = app.logger;

        var init = function() {

          Reveal.initialize({
              controls: false,
              progress: true,
              history: true,
              overview: false,
              loop: true,
              transition: 'linear'
          });

          addEventListeners();

        };

        var onMessage = function(message) {

          if(message.type == app.CastMessageTypes.ACTION) {

            var data = message.data;

            triggerAction(data.action, data.actionData);

          } else {

            logger.info(message);
          }

        };

        var triggerAction = function(action, info) {

          logger.info('triggerAction: ' + action);

          switch(action) {

            case app.ActionTypes.NEXT:
              Reveal.next();
              break;
            case app.ActionTypes.PREVIOUS:
              Reveal.prev();
              break;
          }

        };

        var addEventListeners = function() {

          app.CastReceiver.setMessageHandler(_.bind(onMessage, this));
        };

        // Initialize on ready
        $(document).ready(_.bind(init, this));

      })();

    })(window.nt);


		</script>

	</body>
</html>