<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Google Cast Presentation</title>

		<link rel="stylesheet" href="../lib/reveal.js/css/reveal.min.css">

	</head>

	<body style="background-color: #ffffff">

		<div class="reveal">

			<div class="slides">

				<section>
					<h2>Barebones Presentation</h2>
					<p>This example contains the bare minimum includes and markup required to run a reveal.js presentation.</p>
				</section>

				<section>
					<h2>No Theme</h2>
					<p>There's no theme included, so it will fall back on browser defaults.</p>
				</section>

			</div>

		</div>

    <!--Libraries-->
    <script src="https://www.gstatic.com/cast/sdk/libs/receiver/2.0.0/cast_receiver.js"></script>
    <script src="../lib/jquery/dist/jquery.min.js"></script>
    <script src="../lib/underscore/underscore-min.js"></script>
		<script src="../lib/reveal.js/js/reveal.min.js"></script>

		<!--Application-->
    <script src="../js/common.js"></script>
    <script src="../js/cast.receiver.js"></script>

    <!--View-->
		<script>

    (function(app) {

      app.CastReceiverView = (function(){

        var logger = app.logger;

        var init = function() {

          Reveal.initialize();

          addEventListeners();

        };

        var onMessage = function(message) {

          if(message.type == app.CastMessageTypes.ACTION) {

            var data = message.data;

            triggerAction(data.action, data.actionData);

          } else {

            logger.info(message);
          }

        };

        var triggerAction = function(action, info) {

          logger.info('triggerAction: ' + action);

          switch(action) {

            case app.ActionTypes.NEXT:
              Reveal.next();
              break;
            case app.ActionTypes.PREVIOUS:
              Reveal.previous();
              break;
          }

        };

        var addEventListeners = function() {

          app.CastReceiver.setMessageHandler(_.bind(onMessage, this));
        };

        // Initialize on ready
        $(document).ready(_.bind(init, this));

      })();

    })(window.nt);


		</script>

	</body>
</html>